*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body::before{
    content:'';
    width:100vw;
    top: 0px;
    position: absolute;
    background: url('/static/images/bgAbout.jpg') no-repeat center center;
    height: 100vh;
    z-index: -1;
    opacity: 0.9;
}

/* IMAGE  */
.image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    display: flex;
    flex-direction: row;
}
.image > img{
    width: 90px;
    height: 80px;
    filter:invert(100%);
}

.image > p{
    font-size: 2.4rem;
    color: white;
    position: absolute;
    top: 12px;
    left: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image > p:hover{
    cursor:default;
}

/* NAVBAR */
nav{
    background-color: black;
    padding:15px 20px;
    position: fixed;
    top:0px;
    width:100vw;
    height: 50px;
}

ul{
    position: absolute;
    left:350px;
    top:21px;
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
    padding: 3px 20px;
    margin: 0px 10px;
}

nav > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition-property: color;
    transition-duration: 0.3s;
}

nav > ul > li > a:hover{
    color: rgb(105, 102, 102);
}


/* CARDS */
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 70px;
    left: 50px;
}

.card{
    border-radius: 10px;
    width:25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding:12px;
    font-size: 1.2rem;
    background-color: rgb(12, 12, 12);
    color:rgb(219, 219, 219);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.card:hover{
    opacity: 1;
}

.card > h1{
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    color: rgb(179, 179, 179);
}

.card > img{
    width: 250px;
    height:250px;
}



/* FOOTER */
footer{
    position: fixed;
    bottom: 0px;
    width:100vw;
    background-color: black;
    color: white;
    font-size: 0.8rem;
}
