<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | XYZ Fitness</title>
    <link rel="shortcut icon" href="../static/images/favicon_io/favicon.ico" type="image/x-icon">
    style 
        include ../static/about/about.css
</head>
<body>
    <nav>
        <div class="image">
            <img src="../static/images/logo.png" alt="">
            <p>XYZ Fitness</p>
        </div>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/about" style = "color:rgb(105, 102, 102)">About Us</a></li>
            <li><a href="/supplementation">Supplementation</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        
    </nav>

    <div class="main">
        <div class="card" id="card1">
            <img src="../static/images/ourMission.jpg" alt="">
            <h1>Our Goal</h1>
            <p>Many a times, people fail to reach their fitness goals due to two main reasons: Lack of guidance and unrealistic expectations. We wanted to change that. At any XYZ Fitness Center across the country, we will help you reach your goals, and eventually, make you a better version of yourself.
            </p>
            <p>Our world-class fitness experts and high-tech equipment ensure that you get the results you need, through hard work, dedication and proper guidance. They are here to help you.</p>
        </div>
        <div class="card" id="card2">
            <img src="../static/images/StrengthTraining.jpg" alt="">
            <h1>Training</h1>
            <p>Every trainer, coach, dietician, or expert that works here has been selected after intense rounds of interviews and tests to make sure you get the very best. Our experts have worked in a variety of fields before coming here and are extremely qualified and exprerienced.</p>
            <p>Whenever in doubt, ask away, for they will always have the best answers for you. Be it strengh gains, muscle-building or fat-shredding, our experts will ensure that your goals are met.</p>
        </div>
        <div class="card" id="card3">
            <img src="../static/images/nutrition.jpg" alt="">
            <h1>Nutritional Advice</h1>
            <p>Nutrition plays a very important role in determining the outcome of your training. Our dieticians provide you with the bestnutritional plans FOR YOU, taking your likes and goals into consideration. We make sure that the food you eat is as healthy as i is enjoyable.</p>
            <p>The topic of supplementation is also covered by us, if necessary. And of course, they too will be prescribed based on your goals to ensure you get the best results. Let the gains begin!</p>
        </div>
    </div>

    <footer><p>This website is the property of XYZ Fitness &trade;. Any copyright infringement will be considered by rule number 69 of article 420</p></footer>
</body>
</html>