<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Granted</title>
    <link rel="shortcut icon" href="../static/images/favicon_io/favicon.ico" type="image/x-icon">
    style
        include ../static/confirm/confirm.css 
</head>
<body>
    <nav>
        <div class="image">
            <img src="../static/images/logo.png" alt="">
            <p>XYZ Fitness</p>
        </div>
        <ul>
            <li><a href="/" style = "color:rgb(105, 102, 102)">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/supplementation">Supplementation</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        
    </nav>

    <div class="main">
        <img src="../static/images/Tick_Mark_Dark-512.png" alt="">
        <div class="content">
            <p>Your information has been recieved.</p>
            <p>Entered Name: #{name} </p>
            <p>Visit the nearest centre for confirmed memebership.</p>
            <a href="/about">Get Started</a>
        </div>
    </div>

    <footer><p>This website is the property of XYZ Fitness &trade;. Any copyright infringement will be considered by rule number 69 of article 420</p></footer>
</body>
</html>