<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | XYZ Fitness</title>
    <link rel="shortcut icon" href="../static/images/favicon_io/favicon.ico" type="image/x-icon">
    style 
        include ../static/contact/contact.css 
</head>
<body>

    <div class="contactInfo">
        <div class="card" id="card1">
            <img src="../static/images/ContactImage.png" alt="ID Picture">
            <h1>Clement Santos</h1>
            <p>Founder of XYZ Fitness.<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde harum aliquid dolorem laudantium eligendi sint dolor reiciendis doloribus vero. Corporis?</p>
            <p>Email: abcd1234@gmail.com</p>
            <p>Phone: 999-9999</p>  
        </div>
        <div class="card" id="card2">
            <img src="../static/images/ContactImage.png" alt="ID Picture">
            <h1>Emma Thompson</h1>
            <p>Head of Nutrition and Supplementation. <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde harum aliquid dolorem laudantium eligendi sint dolor reiciendis doloribus vero. Corporis?</p>
            <p>Email: abcd1234@gmail.com</p>
            <p>Phone: 999-9999</p> 
        </div>
        <div class="card" id="card3">
            <img src="../static/images/ContactImage.png" alt="ID Picture">
            <h1>Talia West</h1>
            <p>Cheif Trainer.<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde harum aliquid dolorem laudantium eligendi sint dolor reiciendis doloribus vero. Corporis?</p>
            <p>Email: abcd1234@gmail.com</p>
            <p>Phone: 999-9999</p> 
        </div>
        <div class="card" id="card4">
            <img src="../static/images/ContactImage.png" alt="ID Picture">
            <h1>Wayne French</h1>
            <p>Personal Trainer.<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde harum aliquid dolorem laudantium eligendi sint dolor reiciendis doloribus vero. Corporis?</p>
            <p>Email: abcd1234@gmail.com</p>
            <p>Phone: 999-9999</p> 
        </div>
        <div class="card" id="card5">
            <img src="../static/images/ContactImage.png" alt="ID Picture">
            <h1>Jed Lawson</h1>
            <p>Personal Trainer.<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde harum aliquid dolorem laudantium eligendi sint dolor reiciendis doloribus vero. Corporis?</p>
            <p>Email: abcd1234@gmail.com</p>
            <p>Phone: 999-9999</p> 
        </div>
        <div class="card" id="card6">
            <img src="../static/images/ContactImage.png" alt="ID Picture">
            <h1>Bill Marshman</h1>
            <p>Dietician<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde harum aliquid dolorem laudantium eligendi sint dolor reiciendis doloribus vero. Corporis?</p>
            <p>Email: abcd1234@gmail.com</p>
            <p>Phone: 999-9999</p> 
        </div>
    </div>
    
    <!-- navigation bar begins here -->
    <nav>
        <div class="image">
            <img src="../static/images/logo.png" alt="">
            <p>XYZ Fitness</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/supplementation">Supplementation</a></li>
            <li><a href="/contact" style = "color:rgb(105, 102, 102)">Contact</a></li>
        </ul>
        
    </nav>
</body>
</html>